/* /Shared/MainLayout.razor.rz.scp.css */
.navbar[b-lbzvwx7kyd] {
    border-bottom: 1px solid #d6d5d5;
    height: 6.5rem;
    align-items: flex-start;
    position: sticky;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo[b-lbzvwx7kyd] {
    margin-top: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: left;
    cursor: pointer;
    width: 180px;
    margin-bottom: 10px;
    
}

.top-nav[b-lbzvwx7kyd] {
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 30px;
    display: flex;
    justify-content: right;
}

a.top-nav-item:hover[b-lbzvwx7kyd] {
    cursor: pointer;
    color: #80be4a;
    text-decoration: underline;
}

.search-box[b-lbzvwx7kyd] {
    margin-top: 10px;
    left: 350px;
    position: absolute;
    top: 0;
    width: 300px;
    height: 50px;
}

.search-box > ul > li > a[b-lbzvwx7kyd] {
    cursor: pointer;
}

.search-result[b-lbzvwx7kyd] {
}

.sub-nav[b-lbzvwx7kyd] {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: static;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
}

a.sub-nav-item[b-lbzvwx7kyd] {
    margin-right: 40px;
    color: #bdbdbd;
    bottom: 5px;
    font-weight: bold;
}

    a.sub-nav-item:hover[b-lbzvwx7kyd], a.sub-nav-item.active[b-lbzvwx7kyd] {
        cursor: pointer;
        color: #2AB3FC;
        border-color: #2AB3FC;
        border-bottom: solid;
        transition: all .2s ease-in-out;
    }



  
.page[b-lbzvwx7kyd] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

hr.divider[b-lbzvwx7kyd] {
    color: white;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    border-width: 1px;
}

main[b-lbzvwx7kyd] {
    flex: 1;
}

.more-data[b-lbzvwx7kyd] {
    font-size: 14px;
    display: block;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #494949;
    text-align: center;
    margin-bottom: 10px;
}

a.more-data:hover[b-lbzvwx7kyd] {
    cursor: pointer;
    background-color: #1f1f1f;
    color: #81C14B;
}

.sidebar[b-lbzvwx7kyd] {
    margin-left: -10px;
    max-height: 100%;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding-top: 5px;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /*background-image:linear-gradient(180deg,rgb(5,39,109) 0%, #3a0647 70%);*/
}

    .sidebar[b-lbzvwx7kyd]::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        border-radius: 5px;
    }

    .sidebar[b-lbzvwx7kyd]::-webkit-scrollbar {
        width: 10px;
    }

    .sidebar[b-lbzvwx7kyd]::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: #1c1c1c;
    }

.top-row[b-lbzvwx7kyd]  a, .top-row[b-lbzvwx7kyd]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}


    .top-row[b-lbzvwx7kyd]  a, .top-row[b-lbzvwx7kyd]  .btn-link:hover {
        text-decoration: underline;
    }

        .top-row[b-lbzvwx7kyd]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-widht: 640.98px) {
    .top-row:not(.auth)[b-lbzvwx7kyd] {
        display: none;
    }

    .top-row.auth[b-lbzvwx7kyd] {
        justify-content: space-between;
    }

    .top-row[b-lbzvwx7kyd]  a, .top-row[b-lbzvwx7kyd]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lbzvwx7kyd] {
        flex-direction: row;
    }

    .sidebar[b-lbzvwx7kyd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lbzvwx7kyd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-lbzvwx7kyd]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-lbzvwx7kyd], article[b-lbzvwx7kyd] {
        padding-left: 1.5rem !important;
        padding-right: 0rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-f0ls4okgq7] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-f0ls4okgq7] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-f0ls4okgq7] {
    font-size: 1.1rem;
}

.oi[b-f0ls4okgq7] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-f0ls4okgq7] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f0ls4okgq7] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f0ls4okgq7] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f0ls4okgq7]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-f0ls4okgq7]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-f0ls4okgq7]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-f0ls4okgq7] {
        display: none;
    }

    .collapse[b-f0ls4okgq7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
