
<EditForm Model="@commentCommand" OnValidSubmit="@CreateEntryComment">
    <div class="entry-comment-add-container">
        <div class="entry-comment-add">
            <InputTextArea @bind-Value="commentCommand.Content" class="entry-comment-textarea"/>
            <div class="entry-comment-actions">
                <input type="submit"  class="btn btn-success btn-sozluk" name="name" value="Send" />
            </div>

        </div>
    </div>
</EditForm>




@code {
    [Parameter]
    public Guid? EntryId { get; set; }

    [Parameter]
    public string EntrySubject { get; set; }

    private string PlaceHolder => $"tell us something about '{EntrySubject}'";

    private CreateEntryCommentCommand commentCommand = new();

    [Parameter]
    public EventCallback<CreateEntryCommentCommand> OnClicked { get; set; }


    public async Task CreateEntryComment()
    {
        commentCommand.EntryId = EntryId;

        await OnClicked.InvokeAsync(commentCommand);

        commentCommand = new CreateEntryCommentCommand();
    }
}
